<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/pages.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {{>nav}}
    {{>pages}}
        <div class="body">
            <div class="img">
                <img src="/images/a.png" alt="" srcset="">
            </div>
            <div class="para">
                <p>this is a free tool that let you download images and videos from almost all over the internet with only one click without any annoying ads.<br><br><span class="ex">so have fun</span></p><br>
            </div>
        </div>

     {{>footer}}
    </div>
</body>
</html>