
       
    <div class="footer">
            <div class="foot_head">
                <p>CONTACT:</p>
            </div>
            <div class="contact">
                <div class="src">
                    <a href="https://www.facebook.com/arham.munir.925/" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
                <div class="src">
                    <a href="https://www.instagram.com/arham_munir04/" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>
                <div class="src">
                    <a href="mailto:munirarham70@gmail.com" target="_blank"><i class="fa fa-at" ></i></a>
                </div>
                <div class="src">
                    <a href="https://wa.me/03012865213/" target="_blank"><i class="fa fa-whatsapp" ></i></a>
                </div>
            </div>
        </div>
    </div>
