<div class="main">
        <div class="nav">
            <div class="head">
                <div class="title">
                     <p>NVISION</p>
                </div>
                <div class="sub">
                    <p>We assure simplicity</p>
                </div>
            </div>
            <div class="link">
                <div class="link1">
                    
                <a href="/"><i class="fa fa-home l"></i>Home</a>
                </div>
            </div>
        </div>