<div class="pages">
        <div class="sec">
            <div class="sec_link">
                <a href="/images"><i class="fa fa-image l"></i></i>IMAGES</a>
            </div>
        </div>
        <div class="sec">
            <div class="sec_link">
                <a href="/videos"><i class="fa fa-play-circle l"></i>VIDEOS</a>
            </div>
        </div>
        </div>